<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head.ejs') %>
<body>

    <%- include ('./partials/header.ejs') %>
    <h1>Welcome to our Bullet Board app</h1>
    
        <section>
            <h2><a href="/user">Create a new profile</a></h2>
        </section>
    <% posts.forEach(post => { %>
        <section>
        <h2> <%= post.title %> </h2>
        <h3> <%= post.author %> </h3>
        <a href="/post/<%= post.id %>">Click here</a>
        
        </section>
    <% }) %>

</body>
</html>